<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ global_stuff['styleUri'] }}">
    <link rel="stylesheet" href="{{ config_css }}">

  </head>
  <body>

    <h1>{{ global_stuff['get_text']('Summary') | safe }}</h1>
    {% if compile_list %}
    <br/><br/>
    <div>
      {{ global_stuff['get_text']('Created at') | safe }} <b><u>{{ compile_list['timestamp'] }}</u></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href='command:vscode.open?{{ compile_file }}'>{{ global_stuff['get_text']('open JSON file') | safe }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href='command:vscode.open?{{ log_file }}'>{{ global_stuff['get_text']('open OBI log') | safe }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {% if run_build %}&nbsp;&nbsp;&nbsp;<vscode-button onclick="run_build()" style="vertical-align: super;" id="run_build" appearance="primary">{{ global_stuff['get_text']('Run build') | safe }}</vscode-button>{% endif %}
    </div>
    <br/>
    {% endif %}
    <hr />
    <br/>
    
    <table id="source_list">
      <tr><th>{{ global_stuff['get_text']('New sources') | safe }}</th><th>{{ global_stuff['get_text']('Changed sources') | safe }}</th><th>{{ global_stuff['get_text']('Dependend objects') | safe }}</th></tr>
      <tr>
        <td>
          <ul>
            {% for source in object_list['new_sources'] %}
            <li><a href='command:vscode.open?{{ source["file"] }}'>{{ source["source"] }}</a></li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for source in object_list['changed_sources'] %}
            <li><a href='command:vscode.open?{{ source["file"] }}'>{{ source["source"] }}</a></li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for source in object_list['dependend_sources'] %}
              <li><a href='command:vscode.open?{{ source["file"] }}'>{{ source["source"] }}</a></li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>

    {% if compile_list %}

    <hr />

    <h2>{{ global_stuff['get_text']('Details') | safe }}</h2>
    <vscode-divider role="presentation"></vscode-divider>

    <table id="details">
    <thead>
      <tr>
        <th>{{ global_stuff['get_text']('level') | safe }}</th>
        <th>{{ global_stuff['get_text']('object') | safe }}</th>
        <th>{{ global_stuff['get_text']('status') | safe }}</th>
        <th>{{ global_stuff['get_text']('commands') | safe }}</th>
      </tr>
    </thead>
    <tbody>
      {% for level_item in compile_list['compiles'] %}
        <tr>
          <th>{{ level_item['level'] }}. {{ global_stuff['get_text']('level') | safe }}</th>
        </tr>
      {% for source_item in level_item['sources'] %}
        {% set source_splitted=source_item['source'].split('/') %}
        {% set lib = source_splitted[0] %}
        {% set file = source_splitted[1] %}
        {% set member = source_splitted[2] %}
        <tr>
          <td><vscode-checkbox class="type_checkbox build_source" source="{{ source_item['source'] }}" {% if 'ignore' not in source_item or source_item['ignore'] == true %}checked{% endif %}></vscode-checkbox></td>
          <td><a href='command:vscode.open?{{ source_item["file"] }}'>{{ lib }} / {{ file }} / {{ member }}</a></td>
          <td>
            {% set last_cmd = source_item['cmds'][0] %}
            {% for cmd_entry in source_item['cmds'] %}
              {% if cmd_entry.status != 'new' %}
                {% set last_cmd = cmd_entry %}
              {% endif %}
            {% endfor %}
            <span class="{{ last_cmd.status }}">{{ last_cmd.status }}</span>
          </td>
          <td>
            <details><summary>{{ source_item['cmds'] | length }} {{ global_stuff['get_text']('commands') | safe }}</summary>
              <table>
                <tr>
                  <th>{{ global_stuff['get_text']('timestamp') | safe }}</th>
                  <th>{{ global_stuff['get_text']('status') | safe }}</th>
                  <th>{{ global_stuff['get_text']('command') | safe }}</th>
                </tr>
              {% for cmd_entry in source_item['cmds'] %}
                {% set cmds = cmd_entry.cmd.split(';') %}
                <tr>
                  <td>{{ cmd_entry.updated }}</td>
                  <td><span class="{{ cmd_entry.status }}">{{ cmd_entry.status }}</span></td>
                  <td><details><summary><code>{{ cmd_entry.cmd | truncate(100) }}</code></summary><div style="border: 1px solid">{% for cmd in cmds %}<pre style="white-space: pre-wrap;">{{ cmd | trim }}</pre>{% endfor %}</div></details></td>
                  {% if 'joblog' in cmd_entry and cmd_entry['joblog']|length %}
                    <td>
                      <vscode-button class="joblog" source="{{ source_item['source'] }}" level="{{ level_item['level'] }}" cmd_index="{{ loop.index0 }}" appearance="primary">Joblog</vscode-button>
                    </td>
                  {% endif %}
                  {% if 'stdout' in cmd_entry and cmd_entry['stdout']|length %}
                    <td>
                      <vscode-button class="stdout" source="{{ source_item['source'] }}" level="{{ level_item['level'] }}" cmd_index="{{ loop.index0 }}" appearance="primary">Spool file</vscode-button>
                    </td>
                  {% endif %}
                  {% if 'stderr' in cmd_entry and cmd_entry['stderr']|length %}
                    <td>
                      <vscode-button  class="stderr" source="{{ source_item['source'] }}" level="{{ level_item['level'] }}" cmd_index="{{ loop.index0 }}" appearance="primary">Error</vscode-button>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
              </table>
            </details>
          </td>
        </tr>
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    </table>

    {% endif %}
    
    <br/><br/>

    <input type="hidden" id="level"\>
    <input type="hidden" id="source"\>
    <input type="hidden" id="cmd_index"\>

    <script type="module" nonce="{{ global_stuff['nonce'] }}" src="{{ main_java_script }}"></script>

  </body>
</html>