<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ global_stuff['styleUri'] }}">
</head>

<body>

  <a href='command:vscode.open?{{ config_file }}'>Open project config file</a>

  <br />
  <br />


  <vscode-panels activeid="project_cfg" aria-label="Default">

    <vscode-panel-tab id="project_cfg"><h3>Project configuration</h3></vscode-panel-tab>
    <vscode-panel-tab id="user_cfg"><h3>User configuration</h3></vscode-panel-tab>


    <vscode-panel-view id="project_cfg-view">
      <section>
        
        {% set class_prefix = 'project' %}
        {% set app_config = project_config['app_config'] %}
        {% set global_config = project_config['global_config'] %}
        {% include "controller/config_details.html" %}
      
      </section>
    </vscode-panel-view>


    <vscode-panel-view id="user_cfg-view">
      <section>

        {% set class_prefix = 'user' %}

        {% set app_config = user_config['app_config'] %}
        {% set global_config = user_config['global_config'] %}

        {% include "controller/config_details.html" %}

      </section>
    </vscode-panel-view>


  </vscode-panels>


  <!--a href='command:obi.show_changes'><img src="{{ global_stuff['asserts_uri'] }}/img/{{ theme_mode }}/telescope.svg">Show changes</a-->
  <br />

  <vscode-button id="save_config">Save</vscode-button>

  <br />

  <script type="module" nonce="{{ global_stuff['nonce'] }}" src="{{ main_java_script }}"></script>

</body>

</html>