<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ global_stuff['theme_mode'] }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ global_stuff['asserts_uri'] }}/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ global_stuff['asserts_uri'] }}/bootstrap/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ global_stuff['asserts_uri'] }}/bootstrap/css/bootstrap-table.min.css">
    
    <link rel="stylesheet" href="{{ global_stuff['styleUri'] }}">
    <link rel="stylesheet" href="{{ config_css }}">

  </head>
  <body>

    <h1>{{ global_stuff['get_text']('Source config') | safe }} <code><a href='command:vscode.open?{{ source_file }}'>{{ source }}</a></code></h1>

    <div class="save-button-wrapper">
      <vscode-button class="save-button" id="save_config">{{ global_stuff['get_text']('Save') | safe }}</vscode-button>
      {% include "tools/alertBox.html" %}
    </div>
    
    📝 <a href='command:vscode.open?{{ source_config_file }}'>{{  global_stuff['get_text']('Open source config file') | safe }}</a>

  
    <h2>{{ global_stuff['get_text']('Compile settings') | safe }}</h2>
    {% set settings = source_config['settings'] %}

    <table>
      <tr>
        <th>{{ global_stuff['get_text']('Variable') | safe }}</th>
        <th>{{ global_stuff['get_text']('Value') | safe }}</th>
      </tr>
      {% for key, value in settings %}
      <tr>
        <td>{{ key }}{% if value | typename == "Array" %} (<code>List</code>){% endif %}</td>
        <td>
          {% if value | typename == "Array" %}
            <vscode-text-area class="save_source_setting" key="{{ key }}" id="{{ key }}|value"
              value='{{ value | join("\n") }}' rows="{{ value | length }}" resize="both">
            </vscode-text-area>
          {% else %}
            <vscode-text-field class="save_source_setting" key="{{ key }}" id="{{ key }}|value"
              value="{{ value }}">
            </vscode-text-field>
          {% endif %}
        </td>
        <td>
          <vscode-button class="delete_source_setting" key="{{ key }}" id="delete_source_setting_{{ loop.index0 }}">
            <img src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/trash.svg">
          </vscode-button>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td>
          <vscode-text-field id="new_source_setting_key" placeholder="TARGET_LIB"></vscode-text-field>
        </td>
        <td>
          <!--vscode-text-field id="new_source_setting_value" placeholder="PROUZALIB"></vscode-text-field-->
          <vscode-text-area id="new_source_setting_value" placeholder="PROUZALIB" rows="4" resize="both">
          </vscode-text-area>
        </td>
        <td>
          <select id="new_source_setting_type" class="form-select">
            <option selected value="string">String</option>
            <option value="list">List (separated by new line)</option>
          </select>
        </td>
        <td>
          <vscode-button id="add_source_setting" config="{{ class_prefix }}">
            <img src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/add.svg">
          </vscode-button>
        </td>
      </tr>
    </table>

    <hr />
  
    <h2>{{ global_stuff['get_text']('Compile commands') | safe }} (<code>source-cmds</code>)</h2>
    {% set compile_cmds = source_config['source-cmds'] %}

    <table>
      <tr>
        <th>{{ global_stuff['get_text']('Command id') | safe }}</th>
        <th>{{ global_stuff['get_text']('Command') | safe }}</th>
      </tr>
      {% for key, value in compile_cmds %}
      <tr>
        <td>{{ key }}</td>
        <td>
          <vscode-text-area class="save_source_cmd" key="{{ key }}" cols="80" rows="4" resize="both"  id="{{ key }}|value"
            value="{{ value }}">
          </vscode-text-area>
        </td>
        <td>
          <vscode-button class="delete_source_cmd" key="{{ key }}" id="delete_source_cmd_{{ loop.index0 }}">
            <img src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/trash.svg">
          </vscode-button>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td>
          <vscode-text-field id="new_source_cmd_key" placeholder="command id"></vscode-text-field>
        </td>
        <td>
          <vscode-text-area id="new_source_cmd_value" cols="80" rows="2" placeholder="command"></vscode-text-area>
        </td>
        <td>
          <vscode-button id="add_source_cmd" config="{{ class_prefix }}">
            <img src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/add.svg">
          </vscode-button>
        </td>
      </tr>
    </table>

    <hr />

    <h2>{{ global_stuff['get_text']('Compile steps') | safe }}</h2>
    {% set compile_steps = source_config['steps'] %}

    <h3>{{ global_stuff['get_text']('Command IDs (separated by new line)') | safe }}</h3>
    <vscode-text-area cols="100" rows="4" resize="both" id="steps" placeholder="source.cmd.commandid&#10;global.cmds.check-error"
      value="{{ (compile_steps or []) | join('\n') }}">
    </vscode-text-area>

    <script type="module" nonce="{{ global_stuff['nonce'] }}" src="{{ main_java_script }}"></script>

  </body>
</html>