
{% set app_global=app_config['global'] %}
{% set app_general=app_config['general'] %}
{% set general_settings=app_config['global']['settings']['general'] %}

<vscode-panels activeid="tab-1" aria-label="Default">

  <vscode-panel-tab id="tab-1"><h3>Configuration</h3></vscode-panel-tab>
  <vscode-panel-tab id="tab-2"><h3>Compile settings</h3></vscode-panel-tab>
  <vscode-panel-tab id="tab-3"><h3>System settings</h3></vscode-panel-tab>
  <vscode-panel-tab id="tab-4"><h3>Constants</h3></vscode-panel-tab>

  <vscode-panel-view id="view-1">
    <section>

      <vscode-text-field class="{{ class_prefix }}_save_app {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-1" id="{{ class_prefix }}|connection|remote-host" placeholder="IBM i host (or IP)"
        value="{{ app_config['connection']['remote-host'] }}">Remote host</vscode-text-field>

      <br />
      <br />

      <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-1" regex_validator="^\d*$" type="number" id="{{ class_prefix }}|connection|ssh-concurrency" placeholder="5"
        value="{{ app_config['connection']['ssh-concurrency'] }}">SSH Concurrency <label style="visibility: hidden;" id="hint_{{ class_prefix }}|connection|ssh-concurrency">&nbsp;&nbsp;&nbsp;⚠️ Only numbers</label></vscode-text-field>

      <br />
      <br />

      <vscode-text-field class="{{ class_prefix }}_save_app type_file" panel="tab-1" id="{{ class_prefix }}|connection|ssh-key" placeholder="~/.ssh/ibmi_rsa"
        value="{{ app_config['connection']['ssh-key'] }}">🔑 SSH Key</vscode-text-field>
      <br />
      <br />

      {% if class_prefix != 'user' %}
      <vscode-text-field class="" readonly="true"
        value="">User (is only available in user config)</vscode-text-field>

      <br />
      <br />      
      <vscode-text-field class="" readonly="true"
        value="">🔑 Password (is only available in user config)</vscode-text-field>

      <br />
      <br />
      {% endif %}
      {% if class_prefix == 'user' %}
      <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-1" id="{{ class_prefix }}|connection|ssh-user"
        value="{{ app_config['connection']['ssh-user'] }}">User</vscode-text-field>

      <br />
      <br />
      <vscode-text-field class="" panel="tab-1" id="{{ class_prefix }}|SSH_PASSWORD" type="password"
        value="{{ SSH_PASSWORD }}">🔑 Password</vscode-text-field>

      <br />
      <br />
      {% endif %}

      <br />
      <hr />
      <br />
      💡 Tilde (~) and env vars (e.g. $HOME) are not supported for paths.
      <br />
      <br />

      <vscode-text-field class="{{ class_prefix }}_save_app type_text {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-1" id="{{ class_prefix }}|general|local-base-dir" size="80"
        value="{{ app_config['general']['local-base-dir'] | replace('"$HOME"', '$HOME' ) }}">Local path</vscode-text-field>
      <br />
      <br />
      <vscode-text-field class="{{ class_prefix }}_save_app {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-1" id="{{ class_prefix }}|general|remote-base-dir" size="80"
        value="{{ app_config['general']['remote-base-dir'] | replace('"$HOME"', '$HOME' ) }}">Remote ifs path</vscode-text-field>
      <br />
      <br />
      <vscode-text-field class="{{ class_prefix }}_save_app {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-1" id="{{ class_prefix }}|general|source-dir" placeholder="src"
        value="{{ app_config['general']['source-dir'] | replace('"$HOME"', '$HOME' ) }}">Source
        directory</vscode-text-field>

      <br />
      <br />
      <vscode-checkbox class="{{ class_prefix }}_save_app type_checkbox" panel="tab-1" id="{{ class_prefix }}|general|check-remote-source-on-startup" 
      {% if app_config['general']['check-remote-source-on-startup'] == true %}checked{% endif %}>Check remote sources on start up</vscode-checkbox>

      <br />
      <br />
      <br />
      <hr />
      <br />

      💡 Tilde (~) and env vars (e.g. $HOME) are not supported for paths.
      <br />
      <br />

      <vscode-checkbox class="{{ class_prefix }}_save_app type_checkbox" panel="tab-1" id="{{ class_prefix }}|general|use-remote-obi" 
        {% if app_config['general']['use-remote-obi'] == true %}checked{% endif %}>Use remote OBI (show changes)</vscode-checkbox>
      <br />
      <br />
      <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-1" id="{{ class_prefix }}|general|local-obi-dir" size="80" placeholder="~/project/obi"
        value="{{ app_config['general']['local-obi-dir'] | replace('"$HOME"', '$HOME' ) }}">Local OBI path</vscode-text-field>
      <br />
      <br />
      <vscode-text-field class="{{ class_prefix }}_save_app {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-1" id="{{ class_prefix }}|general|remote-obi-dir" size="80" placeholder="~/project/obi"
        value="{{ app_config['general']['remote-obi-dir'] | replace('"$HOME"', '$HOME' ) }}">Remote OBI path</vscode-text-field>
    </section>
  </vscode-panel-view>


  <vscode-panel-view id="view-2">
    <section>

      <h2>General</h2>

      <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-2" id="{{ class_prefix }}|global|settings|general|TGTRLS" placeholder="*CURRENT"
        value="{{ general_settings['TGTRLS'] }}">TGTRLS</vscode-text-field>
      <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-2" id="{{ class_prefix }}|global|settings|general|DBGVIEW" placeholder="*ALL"
        value="{{ general_settings['DBGVIEW'] }}">DBGVIEW</vscode-text-field>
      <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-2" id="{{ class_prefix }}|global|settings|general|TGTCCSID" placeholder="*JOB"
        value="{{ general_settings['TGTCCSID'] }}">TGTCCSID</vscode-text-field>
      <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-2" id="{{ class_prefix }}|global|settings|general|STGMDL" placeholder="*SNGLVL"
        value="{{ general_settings['STGMDL'] }}">STGMDL</vscode-text-field>
      <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-2" id="{{ class_prefix }}|global|settings|general|ACTGRP" placeholder="*CALLER|NAME|*NEW"
        value="{{ general_settings['ACTGRP'] }}">ACTGRP</vscode-text-field>
      <br />
      <br />
      <vscode-text-area class="{{ class_prefix }}_save_app type_array {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-2" id="{{ class_prefix }}|global|settings|general|LIBL" size="50"
        placeholder="$(TARGET_LIB)&#10;QGPL" value="{% if general_settings['LIBL'] %}{{ general_settings['LIBL'] | join('\n') }}{% endif %}">LIBL</vscode-text-area>
      <br />
      <br />
      <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-2" id="{{ class_prefix }}|global|settings|general|INCLUDE_BNDDIR" size="50"
        placeholder="PROUZADIR" value="{{ general_settings['INCLUDE_BNDDIR'] }}">INCLUDE_BNDDIR</vscode-text-field>
      <br />
      <br />
      <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-2" id="{{ class_prefix }}|global|settings|general|INCDIR_RPGLE" size="80"
        placeholder="$HOME/project-dir/src/prouzalib $HOME/project-dir/src/prouzalib2"
        value="{{ general_settings['INCDIR_RPGLE'] | replace('"$HOME"', '$HOME' ) }}">INCDIR RPGLE</vscode-text-field>
      <br />
      <br />
      <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-2" id="{{ class_prefix }}|global|settings|general|INCDIR_SQLRPGLE" size="80"
        placeholder="$HOME/project-dir/src/prouzalib $HOME/project-dir/src/prouzalib2"
        value="{{ general_settings['INCDIR_SQLRPGLE'] | replace('"$HOME"', '$HOME' ) }}">INCDIR SQLRPGLE</vscode-text-field>
      <br />
      <br />
      <vscode-text-area class="{{ class_prefix }}_save_app type_dict" panel="tab-2" id="{{ class_prefix }}|global|settings|general|TARGET_LIB_MAPPING" size="50"
        placeholder="prouzalib=prouzat1&#10;prouzalib2=prouzat2"
        value="{% for k, v in general_settings['TARGET_LIB_MAPPING'] %}{% if loop.index0 > 0 %}{{ '\n' }}{% endif %}{{ k }}={{ v }}{% endfor %}">TARGET_LIB_MAPPING</vscode-text-area>
      <br />
      
      <br />
      <hr />
      <br />
      
      <table>
        <colgroup></colgroup>
        <tr>
          <td>
            <h2>Individual language settings</h2>
          </td>
          <td>
            &nbsp;
          </td>
          <td>
            &nbsp;
          </td>
          <td>
            <vscode-button config="{{ class_prefix }}" id="add_language_settings">Add language</vscode-button>
          </td>
          <td>
            <vscode-text-field config="{{ class_prefix }}" panel="tab-2" placeholder="sqlrpgle.pgm" id="add_language_settings_name"></vscode-text-field>
          </td>
        </tr>
      </table>
      {% set app_language = app_global['settings']['language'] %}

      {% for key, value in app_language %}
        <table>
          <colgroup></colgroup>
          <tr>
            <td style="width: 50%"><h3>{{ key }}</h3></td>
            <td><vscode-button name="language-settings-add-property" config="{{ class_prefix }}" language="{{ key }}" id_of_property="{{ key }}|new_property">Add property</vscode-button></td>
            <td>
              <vscode-dropdown id="{{ key }}|new_property">
                {% for ks, vs in general_settings %}
                  {% if ks not in value %}
                  <vscode-option>{{ ks }}</vscode-option>
                  {% endif %}
                {% endfor %}
              </vscode-dropdown>
            </td>
          </tr>
        </table>
        {% for k2, v2 in value %}
          <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-2" id="{{ class_prefix }}|global|settings|language|{{ key }}|{{ k2 }}"
            value="{{ v2 }}">{{ k2 }}
          </vscode-text-field>
        {% endfor %}
        <br/>
        <br/>
      {% endfor %}
      <br />
      <hr />
      <br />
      
      <h2>General commands</h2>
      {% set cmds = app_global['cmds'] %}

      {% for key, value in cmds %}
        <vscode-text-field size="50" class="{{ class_prefix }}_save_app" panel="tab-2" id="{{ class_prefix }}|global|cmds|{{ key }}"
          value="{{ value }}">{{ key }}
        </vscode-text-field>
        <br/>
        <br/>
      {% endfor %}

      <br />
      <hr />
      <br />
      
      
      <h2>Compile commands</h2>
      {% set compile_cmds = app_global['compile-cmds'] %}

      {% for key, value in compile_cmds %}
        <vscode-text-area cols="50" rows="4" resize="both" class="{{ class_prefix }}_save_app" panel="tab-2" id="{{ class_prefix }}|global|compile-cmds|{{ key }}"
          value="{{ value }}">{{ key }}
        </vscode-text-area>
        <br/>
        <br/>
      {% endfor %}

      <br />
      <hr />
      <br />
      
      <h2>Compile steps</h2>
      {% set compile_steps = app_global['steps'] %}

      {% for key, value in compile_steps %}
        <vscode-text-area cols="40" rows="4" resize="both" class="{{ class_prefix }}_save_app type_array" panel="tab-2" id="{{ class_prefix }}|global|steps|{{ key }}"
          value="{{ value | join('\n') }}">{{ key }}
        </vscode-text-area>
        <br/>
        <br/>
      {% endfor %}

    </section>
  </vscode-panel-view>


  <vscode-panel-view id="view-system-3">
    <section>
      
      <vscode-text-area rows="4" class="{{ class_prefix }}_save_app type_array {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-3" id="{{ class_prefix }}|general|supported-object-types" 
        placeholder="pgm&#10;file&#10;srvpgm" value="{% if app_general['supported-object-types'] %}{{ app_general['supported-object-types'] | join('\n') }}{% endif %}">Supported object types
      </vscode-text-area>

      <br/>
      <br/>

      <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-3" id="{{ class_prefix }}|general|file-system-encoding" placeholder="utf-8"
        value="{{ app_general['file-system-encoding'] }}">File system encoding
      </vscode-text-field>

      <br/>
      <br/>
      <vscode-text-field class="{{ class_prefix }}_save_app" panel="tab-3" id="{{ class_prefix }}|general|console-output-encoding" placeholder="utf-8"
        value="{{ app_general['console-output-encoding'] }}">Console output encoding
      </vscode-text-field>
    
    </section>

  </vscode-panel-view>
    


  <vscode-panel-view id="view-file-constants-4">

    <section>

      <vscode-text-field class="{{ class_prefix }}_save_app {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-4" id="{{ class_prefix }}|general|compiled-object-list" placeholder=".obi/etc/object-builds.toml"
        value="{{ app_general['compiled-object-list'] }}">Compiled object list
      </vscode-text-field>
            
      <br/>
      <br/>
      <vscode-text-field class="{{ class_prefix }}_save_app {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-4" id="{{ class_prefix }}|general|source-list" placeholder=".obi/etc/source-list.toml"
        value="{{ app_general['source-list'] }}">Source list
      </vscode-text-field>
            
      <br/>
      <br/>
      <vscode-text-field class="{{ class_prefix }}_save_app {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-4" id="{{ class_prefix }}|general|source-infos" placeholder=".obi/etc/source-infos.json"
        value="{{ app_general['source-infos'] }}">Extended source infos
      </vscode-text-field>
            
      <br/>
      <br/>
      <vscode-text-field class="{{ class_prefix }}_save_app {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-4" id="{{ class_prefix }}|general|dependency-list" placeholder=".obi/etc/dependency.toml"
        value="{{ app_general['dependency-list'] }}">Dependency list
      </vscode-text-field>
            
      <br/>
      <br/>
      <vscode-text-field class="{{ class_prefix }}_save_app {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-4" id="{{ class_prefix }}|general|deployment-object-list" placeholder=".obi/build-output/object-list.txt"
        value="{{ app_general['deployment-object-list'] }}">Deployment object list
      </vscode-text-field>
            
      <br/>
      <br/>
      <vscode-text-field class="{{ class_prefix }}_save_app {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-4" id="{{ class_prefix }}|general|build-output-dir" placeholder=".obi/build-output/objects"
        value="{{ app_general['build-output-dir'] }}">Build output dir
      </vscode-text-field>
    
      <br/>
      <br/>
      <vscode-text-field class="{{ class_prefix }}_save_app {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-4" id="{{ class_prefix }}|general|compile-list" placeholder=".obi/build-output/compile-list.json"
        value="{{ app_general['compile-list'] }}">Compile list
      </vscode-text-field>
    
      <br/>
      <br/>
      <vscode-text-field class="{{ class_prefix }}_save_app {% if class_prefix == 'project' %}mandatory{% endif %}" panel="tab-4" id="{{ class_prefix }}|general|compiled-object-list-md" placeholder=".obi/build-output/compiled-object-list.md"
        value="{{ app_general['compiled-object-list-md'] }}">Compiled object list md
      </vscode-text-field>
    

    </section>

  </vscode-panel-view>

</vscode-panels>