<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ global_stuff['theme_mode'] }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ global_stuff['styleUri'] }}">
  </head>
  <body>
    
    <h2>{{ global_stuff['get_text']('OBI invalid!') }}</h2>
    <br/>
    {{ global_stuff['get_text']('Please finish configuration first') }}
    <br/>
    <br/>
    <vscode-button id="config">{{ global_stuff['get_text']('Configuration') }}</vscode-button>

    <br/>
    <br/>
    <br/>
    {{ global_stuff['get_text']('Or initialize your current folder with OBI:') }}
    <br/>
    <br/>
    <vscode-button id="initialize_folder">{{ global_stuff['get_text']('Initialize') }}</vscode-button>
    <vscode-button id="reload_workspace">{{ global_stuff['get_text']('Reload') }}</vscode-button>


    <script type="module" nonce="{{ global_stuff['nonce'] }}" src="{{ main_java_script }}"></script>
    
  </body>
</html>