<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ global_stuff['theme_mode'] }}>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ global_stuff['styleUri'] }}">
  <link rel="stylesheet" href="{{ config_css }}">
  <link rel="stylesheet" href="{{ global_stuff['asserts_uri'] }}/css/choices.min.css">
  <link rel="stylesheet" href="{{ global_stuff['asserts_uri'] }}/css/choices-dark-overrides.css">
  <link rel="stylesheet" href="{{ global_stuff['asserts_uri'] }}/css/tom-select.min.css">
</head>

<body>

  <br />
  <div>
    <div style="padding-bottom: 5px;">
      {{ global_stuff['get_text']('Use profile') | safe }}</div>
    <div>
      <vscode-dropdown id="drp_use_profile" style="width: max-content; min-width: 160px;">
        {% for profile in config_profiles %}
        <vscode-option value="{{ profile.file }}" {% if profile.file == global_stuff['current_profile'] %}selected{% endif %}>{{ profile.alias }}</vscode-option>
        {% endfor %}
      </vscode-dropdown>
      <vscode-button id="btn_delete_current_profile">
        <img src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/trash.svg">
      </vscode-button>
      <vscode-button id="btn_copy_profile">
        <img src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/add.svg">
      </vscode-button>
    </div>
  </div>
  <br />

  <table>
    <tr>
      <td colspan="3">{{ global_stuff['get_text']('Run build') | safe }}</td>
    </tr>
    <tr>
      <td>
        <vscode-button id="run_single_build">
          <span class="codicon codicon-add"><img
              src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/run.svg"></span>
        </vscode-button>
      </td>
      <td>
        <vscode-button id="run_build">
          *ALL
          <span slot="start" class="codicon codicon-add"><img
              src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/run-all.svg"></span>
        </vscode-button>
      </td>
      <td>
        <vscode-progress-ring id="run_build_ring" style="visibility: hidden;"></vscode-progress-ring>
      </td>
    </tr>
    <tr>
      <td colspan="3"> {{ global_stuff['get_text']('Show changes') | safe }}</td>
    </tr>
    <tr>
      <td>
        <vscode-button id="show_single_changes">
          <span class="codicon codicon-add"><img
              src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/check.svg"></span>
        </vscode-button>
      </td>
      <td>
        <vscode-button id="show_changes">
          *ALL
          <span slot="start" class="codicon codicon-add"><img
              src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/checklist.svg"></span>
        </vscode-button>
      </td>
      <td>
        <div id="show_changes_ring" style="visibility: hidden; display: flex; flex-wrap: nowrap">
          <vscode-progress-ring id="show_changes_ring_"></vscode-progress-ring>
          <vscode-button id="cancel_show_changes">
            <span class="codic</vscode-button>on codicon-add"><img
              src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/stop-circle.svg"></span>
          </vscode-button>
        </div>
      </td>
    </tr>
  </table>
  
  <br />

  <a id="open_build_summary" href='command:obi.open_build_summary'
    style="visibility: {% if builds_exist == 0 %}hidden{% else %}visible{% endif %};">
    <img src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/file.svg">{{
    global_stuff['get_text']('Open build summary') | safe }}
  </a>
  <br />
  <label id="build_summary_timestamp" style="visibility: {% if builds_exist == 0 %}hidden{% else %}visible{% endif %};">
    ({{ build_summary_timestamp }})
  </label>


  <script type="module" nonce="{{ global_stuff['nonce'] }}" src="{{ main_java_script }}"></script>

</body>

</html>