<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ global_stuff['styleUri'] }}">
  </head>
  <body>
    
    <table>
      <tr>
        <td>
          <vscode-button id="run_build">
            {{ global_stuff['get_text']('Run build') | safe }}
            <span slot="start" class="codicon codicon-add"><img src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/debug-start.svg"></span>
          </vscode-button>
        </td>
        <td>
          <vscode-progress-ring id="run_build_ring" style="visibility: hidden;"></vscode-progress-ring>
        </td>
      </tr>
      <tr>
        <td>
          <vscode-button id="show_changes">
            {{ global_stuff['get_text']('Show changes') | safe }}
            <span slot="start" class="codicon codicon-add"><img src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/telescope.svg"></span>
          </vscode-button>
        </td>
        <td>
          <vscode-progress-ring id="show_changes_ring" style="visibility: hidden;"></vscode-progress-ring>
        </td>
      </tr>
    </table>

    <br/>

    <br/>
    <a id="open_build_summary" href='command:obi.open_build_summary' style="visibility: hidden;">
      <img src="{{ global_stuff['asserts_uri'] }}/img/{{ global_stuff['theme_mode'] }}/file.svg">{{ global_stuff['get_text']('Open build summary') | safe }}
    </a> 
    <br/>
    <label id="build_summary_timestamp"  style="visibility: hidden;"> 
      ({{ build_summary_timestamp }})
    </label>


    <script type="module" nonce="{{ global_stuff['nonce'] }}" src="{{ main_java_script }}"></script>
    
  </body>
</html>