<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ global_stuff['theme_mode'] }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ global_stuff['styleUri'] }}">
  </head>
  <body>
    
    <h2>{{ global_stuff['get_text']('Use OBI in your project?') | safe }}</h2>
    <br/>
    {{ global_stuff['get_text']('You need to open a folder containing an OBI project:') | safe }}
    <br/>
    <br/>
    <vscode-button id="open_folder">{{ global_stuff['get_text']('Open folder') | safe }}</vscode-button>
    
    {% if workspace_exist %}
    <br/>
    <br/>
    <br/>
    {{ global_stuff['get_text']('Or initialize your current folder with OBI:') | safe }}
    <br/>
    <br/>
    <vscode-button id="initialize_folder">{{ global_stuff['get_text']('Initialize') | safe }}</vscode-button>

    <br/>
    <br/>
    <br/>
    <vscode-button id="reload_window">{{ global_stuff['get_text']('Reload window') | safe }}</vscode-button>

    {% endif %}

    <script type="module" nonce="{{ global_stuff['nonce'] }}" src="{{ main_java_script }}"></script>
    
  </body>
</html>