.missing_value {
  border-color: #be1100;
  border-style: solid;
  border-width: medium;
}

vscode-panel-tab.missing_value {
  padding: 15px;
}

vscode-text-field.missing_value {
  padding: 5px;
}

.save-button-wrapper {
  position: absolute;
  right: 10%;
  top: 4%;
}

.save-button {
  position: fixed;
  z-index: 1;
}