.new {
  background-color:#adcbe3;
  color: black
}

.info {
  background-color:#2e858b;
  color: rgb(255, 255, 255)
}

.success {
  background-color:#c2ff90;
  color: black
}

.error {
  background-color:#f96161;
  color: black
}

.failed {
  background-color:#f96161;
  color: black
}

.in_process {
  background-color:#0099ff;
  color: black
}

.config_error {
  margin: 20px;
  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;
  width: max-content;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}